.image-table {
  float: left;
  height: 65px;
  width: 65px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.admin-title {
  font-family: 'Comfortaa', cursive;
  color: #333;
}

.add-item-btn {
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 4px 8px 5px rgba(0, 0, 0, 0.1);
}

.page-item.active .page-link {
  background-color: #3282b8;
  border-color: #3282b8;
}

a {
  color: #3282b8
}

.btn-link,
.page-link {
  color:#3282b8;
}